{{- if .Store.Get "hasMermaid" }}
<script type="module">
  import mermaid from "{{ .Site.Params.mermaid.js_url }}";

  // Initialize Mermaid with custom configurations
  document.addEventListener('DOMContentLoaded', () => {
    mermaid.initialize({
      startOnLoad: true,
      theme: "default", // Change to your desired theme
      flowchart: { curve: 'basis' }, // Customize the flowchart settings
      logLevel: 3,
      securityLevel: 'loose', // Adjust security level as needed
    });
  });
</script>
{{- end -}}